@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&display=swap');
@import "./header";
@import "./board";
@import "./footer";

$backgroung-color: #00445e;
$text-color: rgb(197, 197, 197);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Baloo Paaji 2", monospace;
}

body {
  background: $backgroung-color;
  @include header;
  @include board;
  @include footer;
}

@media (max-width: 690px) {
  .header-container {
    flex-direction: column;
  }
}